body {
  background-color: rgb(17, 17, 17);
  color: white;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3%;
}

.user .info * {
    margin-bottom: 7%;
    text-align: center;
}

.user img {
    border-radius: 50%;
    height: 100px;
}

.user button {
    height: 41px;
    width: 130px;
    border-radius: 22px;
    background-color: inherit;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
}

.user p {
    opacity: 0.6;
}